@font-face {
    font-family: 'Buyan';
    src: url('../fonts/Buyan-Thin.eot');
    src: url('../fonts/Buyan-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Buyan-Thin.woff2') format('woff2'),
    url('../fonts/Buyan-Thin.woff') format('woff'),
    url('../fonts/Buyan-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Buyan';
    src: url('../fonts/Buyan-Bold.eot');
    src: url('../fonts/Buyan-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Buyan-Bold.woff2') format('woff2'),
    url('../fonts/Buyan-Bold.woff') format('woff'),
    url('../fonts/Buyan-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Buyan';
    src: url('../fonts/Buyan-Regular.eot');
    src: url('../fonts/Buyan-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Buyan-Regular.woff2') format('woff2'),
    url('../fonts/Buyan-Regular.woff') format('woff'),
    url('../fonts/Buyan-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

